.posts-list {
  display: block;
  list-style-type: none;
  padding-left: 0px;
}

.post-container {
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-right: 60px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.post-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.post-details {
  font-weight: lighter;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace
}

.post-body {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.new-post-container {  
  text-align: center;  
}

.new-post-form textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  margin-bottom: 30px;
}

.new-post-form input {  
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 49%;
  margin-bottom: 20px;
}

.new-post-form select {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
